*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

.nav1{
  color: white;
  background-image: linear-gradient(to right,black,darkblue,blue,darkblue,black);
}
.list-group{
  text-align: center;
}
.sec1{
  background-image: linear-gradient(to right, black,black);
  width: 100%;
}
.sec2{
  color: white;
  padding: 20px;
  background-image: linear-gradient(to right, black, #DA0037, black);
}
.sec2 p {
  padding: 10px;
}
.sec4{
  padding:10px;
  background-image: linear-gradient(to right,black, #055052, #53B8BB,#055052 ,black);
  color: white;
}
.sec4 iframe{
  width: 100%;
}
.sec5{
  padding: 10px;
  background-image: linear-gradient(to right,black,#F8485E,black);
  color: white;
}
.sec5 img{
  width: 100%;

}

@media (min-width:900px){
  .s4{
    display: flex;
    flex-wrap: wrap;
  }
  .s4d1{
    flex:50%;
    max-width: 50%;
    padding: 10px 50px;
    font-size:1.5rem;
  }
  .s4d2{
    flex:50%;
    max-width:50%;
    padding: 10px 50px;
  }
  .s5{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .s5d1{
    flex:50%;
    max-width: 50%;


    font-size:1.5rem;
  }
  .s5d2{
    flex:50%;
    max-width:50%;

  }
}
